.header{
  &__wrapper{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
    position: sticky;

    max-width: 683px;
    max-height: 95px;
    margin: 37px 142px;


  }
  &__topWrapper{
display: flex;
    gap: 30px;
font-size: 14px;
    line-height: 26px;
  }
  &__btmWrapper{
    display: flex;
    gap: 55px;
    font-size: 18px;
    line-height: 42px;
  }
}