.logout{
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
  }
  &__decoration{

  }
  &__btn{
font-size: 18px;
    margin-top: 42px;

  }
}

